.App{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body{
  background-image: url(./assets/bodyBackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

input{
  background-color: #4d4d4d96;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 40px;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.input::placeholder{ 
  font-size: 13px;
  font-size: 13px;
  color: #65657b;
  font-family: sans-serif;
  top: 13px;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
}


.error{
  background-color: #8b1010de;;
}

.green{
  background-color: green;
  color: wheat;
}

.gender{
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
}

.gender-width{
  width: 23px;
  height: 20px;
  margin-right: 8px;
}

button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  padding: .75rem 2rem;
  margin-top: 20px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
